<p-fileUpload
  name="files[]"
  [multiple]="true"
  accept=".png,.jpg,.jpeg,.doc,.docx,.csv,.xls,.xlsx,.pdf"
  [fileLimit]="12"
  [customUpload]="true"
  (uploadHandler)="onUpload($event)"
>
  <ng-template pTemplate="content">
    <ul class="ml-4" *ngIf="uploadedFiles.length">
      <li *ngFor="let file of uploadedFiles">
        {{ file.name }} - {{ file.size }} bytes
      </li>
    </ul>
  </ng-template>
</p-fileUpload>
<div class="loading-spinner" *ngIf="isLoading">
  <p-progressSpinner strokeWidth="10"></p-progressSpinner>
</div>
