<ngx-masonry
  infiniteScroll
  [infiniteScrollDistance]="2"
  (scrolled)="onScroll()"
  [options]="masonryOptions"
  style="width: 100%; padding-top: 2rem"
  [ordered]="true"
  (itemsLoaded)="itemsLoaded()"
>
  <ngxMasonryItem
    *ngFor="let file of filesList; let i = index"
    class="masonry-item"
    [class.active-masonry-item]="selectedIndex === i"
  >
    <ng-container
      *ngIf="
        file.extension === 'png' ||
          file.extension === 'jpg' ||
          file.extension === 'jpeg';
        then thenTemplate;
        else elseTemplate
      "
    ></ng-container>

    <ng-template #thenTemplate>
      <p-image
        [preview]="true"
        [src]="'http://localhost:8080/' + file.path"
        (onHide)="setIndex(null)"
        (click)="setIndex(i)"
      ></p-image>
    </ng-template>
    <ng-template #elseTemplate>
      <ng-container>
        <app-file-card [file]="file"></app-file-card>
      </ng-container>
    </ng-template>
  </ngxMasonryItem>

  <!-- <p-image
    *ngFor="let image of masonryImages; let i = index"
    ngxMasonryItem
    [preview]="true"
    [src]="image"
    class="masonry-item"
    [class.active-masonry-item]="selectedIndex === i"
    (click)="setIndex(i)"
  ></p-image> -->
</ngx-masonry>
